html,
body {
    background: rgba(217, 217, 217, 1) url('http://i2.cdn.turner.com/cnn/partners/ksa/background.png');
    background-position: top;
    background-repeat: repeat-x;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: rgba(217, 217, 217, 1);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.paper {
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 800px;
    margin-bottom: 5%;
}

.contentWrapper {
    width: 77.4%;
    margin: 0 auto;
}

h1 {
    color: #fff;
    font-weight: 400;
    font-size: 36px;
}
