/*CUSTOM ELEMENTS--------------------*/
content-container{
    display:block;
}

/*END CUSTOM ELEMENTS--------------------*/


/*TYPOGRAPHY---------------------*/

@font-face {
  font-family: 'CNN Sans Light';
  src: url('http://www.i.cdn.cnn.com/.a/fonts/cnn/3.5.0/cnnsans-light.woff2') format('woff2');
}

h1{
    font: 36px/90px CNN Sans Light, sans-serif;
    color: #FEFEFE;
    margin: 0;
}

/*END TYPOGRAPHY----------------*/


*,
*:before,
*:after {
    box-sizing: border-box;
}


html,
body {
    /*HEIGHT IMPORTANT FOR STICKY FOOTER*/
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    background-repeat: no-repeat; 
    background: rgba(217, 217, 217, 1) url('http://i2.cdn.turner.com/cnn/partners/ksa/background.png') top repeat-x;
}

/*CONTENT CONTAINER MUST EXIST SO THAT THERE IS GRANULAR STYLING CONTROL OVER IT'S CONTENTS*/
content-container{
    width:77.4%;
    margin: 0 auto;
}

.paper{
    min-height: 800px;
    height: auto;
    margin-bottom:50px;
}

shell-container{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height:100%;
}