@font-face {
  font-family: 'CNN Sans Light';
  src: url('http://www.i.cdn.cnn.com/.a/fonts/cnn/3.5.0/cnnsans-light.woff2') format('woff2');
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    height: 100%;
    font-family: Helvetica, sans-serif;
    background-repeat: no-repeat; 
    
    /*background gradient--the clean way but creates fuzzy stops when background is stretched
    background-image:linear-gradient(#0c0c0c 0px, #0c0c0c 51px, #262626 51px, #262626 170px, #d9d9d9 170px, #d9d9d9 100%);*/
    
    /*background gradient--the ugly way to avoid fuzzy stops*/
    background-size:100% 50px,100% 150px,100% 100%;
    background-position:0 0,0 50px,0 170px;
    background-image:linear-gradient(#0c0c0c 0px, #0c0c0c 51px),
        linear-gradient(#262626 51px, #262626 170px), 
        linear-gradient(#d9d9d9 170px, #d9d9d9 100%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/*CUSTOM ELEMENTS*/
content-container{
    display:block;
}

content-container{
    width:1100px;
    margin: 0 auto;
}

.card{
    height: 2000px;
    margin-bottom:50px;
}

h1{
    font: 36px/90px CNN Sans Light, sans-serif;
    color: #FEFEFE;
    margin: 0;
}

shell-container{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height:100%;
}


